.testi-image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.testi-paragrapg{
    font-size: 35px;
    line-height: 45px;
}
.profile-bio {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 170px;
}
.dis{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h2{
    line-height: 40px;
    font-size: 35px;
}
.testi-card {
    height: 550px;
    padding: 30px;
    border-radius: 20px;
    line-height: 18px;
    box-shadow: 0px 15px 15px gray;
    border-radius: 10px;
    background-color: aliceblue;
}
.univer{
    line-height: 30px;
    font-size: 30px;
}
@media  (min-width: 992px) {
    .testi-card{
        height: 640px;
    }
    .testi-paragrapg {
        margin-top: 20px;
            font-size: 25px;
            line-height: 30px;
    }
    .testi-image{
        height: 120px;
        min-width: 120px;
    }
}