.inputsize {
    width: 230px;
    height: 40px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 7px;
    margin-right: 20px;
    margin-left: 20px;
}
.inputsize:focus {
    outline: none;

}

.Scholarshipbutton {
    width: 900px;
        height: 60px;
        background-color: rgb(6 87 173);
        color: aliceblue;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        font-size: 30px;
}

@media(min-width:1000px){
    .Scholarshipbutton{
        max-width:300px;
            font-size: 30px;
            height: 60px;
            padding-top: 8px;
            color: #ffffff;
            background-color: rgb(6 87 173);
            border-radius: 20px;
            text-align: center;
            border: 1px solid transparent;
            padding: 10px;
    }
}
.course {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    padding-top: 0px;
}
.inputsize:focus {
    outline: none;

}
.cat-sel {
    height: 50px;
    width: 25vw;
    border: 2px solid black;
    border-radius: 10px;
}